[nix]
channel = "stable-23.11"

[deployment]
run = ["python3", "web_server.py"]
deploymentTarget = "cloudrun"

[interpreter]
command = ["python3", "web_server.py"]

[[ports]]
localPort = 5000
externalPort = 80 